.hl1 {
    box-sizing: border-box;
    border-top: 1px solid rgba(139, 139, 139, 1);
    transform-origin: center 0.5px 0px; 
    left: 77px; 
    width: 595px; 
    position: absolute; 
    top: 150px; 
    height: 5px
}
#FvGrdLn0 {
    margin-left: calc((100% - 980px) * 0.5);
}

#yuvarlak{
    background-color: rgba(232, 53, 86, 1);
    border: solid rgba(232, 53, 86, 1) 0px;
    border-radius: 50%;
    position: absolute;
}
space{
    height: 200px;
    width: 200px;
}
